<!-- Modal data -->
<div>
    <h2 class="table-header"> {{data.name}}</h2>
    <div class="table-data">
        <table class="singleTable">  
            <thead>
                <tr>
                    <th>Played</th>
                    <th>Win</th>
                    <th>Lost</th>
                    <th>Draw</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{data.played}}</td>
                    <td> {{data.win}} </td>
                    <td> {{data.lost}} </td>
                    <td> {{data.draw}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
  
